<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="65db70b8-9889-4254-be57-c3181c7c103a" name="setup custom properties" xmlns:con="http://eviware.com/soapui/config"><con:settings id="5fc66328-c831-46bd-97c1-6ed9e4f3d801"><con:setting id="65db70b8-9889-4254-be57-c3181c7c103afileName">setup-custom-properties</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="dab9f225-084f-482f-b431-f34f78079bd6"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>